<nav>

    <div class="logo">
        🌿 BuildMarket
    </div>

    <div class="links">

        <a href="{% url 'index' %}">Home</a>

        <a href="{% url 'about' %}">About</a>

        <a href="{% url 'product_list' %}">Products</a>

        <a href="{% url 'contact' %}">Contact</a>

        <a href="{% url 'login' %}">Login</a>

        <a href="{% url 'register' %}">Register</a>

        <a href="{% url 'cart' %}" class="btn-cart">🛒 Cart</a>

        {% if user.is_authenticated %}
    <a href="{% url 'my_orders' %}">My Orders 📦</a>
{% endif %}

    </div>

</nav>