{% extends "base.html" %}


{% block title %}
Products
{% endblock %}


{% block content %}

<h1>
    Building materials catalog 🧱
</h1>

    <p>
Total products: {{ products|length }}
</p>

<div class="products">


{% for product in products %}

<div class="card">

<h3>
   {{ forloop.counter }}. {{ product.name|upper }}
</h3>


<p>
    {{ product.description }}
</p>

<p>
    Price: {{ product.price }} Kč
</p>

{% if product.in_stock %}

<p>
✅ In stock
</p>

{% else %}

<p>
❌ Out of stock
</p>

{% endif %}

<a class="button" href="{% url 'product_detail' product.id %}">
    View details
</a>

</div>


{% empty %}

<div class="card">

<h3>
    Products coming soon 🌸
</h3>

<p>
    Our building materials catalog will be available soon.
</p>

</div>

{% endfor %}


</div>


{% endblock %}