{% extends "base.html" %}
{% load static %}

{% block title %}
Registration | BuildingMarket
{% endblock %}


{% block content %}

<div class="form-box">

<h1>
    Create an account 🌸
</h1>

    <!-- Вывод общих ошибок формы -->
    {% if form.errors %}
        <div style="color: red; background: #f8d7da; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
            <p><strong>Please change the following problems:</strong></p>
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|capfirst }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="">
  {% csrf_token %}

{{ form.as_p }}

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Enter</a></p>
</section>
{% endblock %}